@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --check-icon: url(../../images/icon-check.svg);

  --bg-image: url(../../images/bg-desktop-dark.jpg);
  --primary-bg: hsl(235, 21%, 11%);
  --secondary-bg: hsl(235, 24%, 19%);

  --primary-text: hsl(234, 39%, 85%);
  --secondary-text: hsl(234, 11%, 52%);

  --icon: url(../../images/icon-sun.svg);

  --white: hsl(0, 0%, 100%);
}

.light-mode {
  --bg-image: url(../../images/bg-desktop-light.jpg);
  --primary-bg: hsl(236, 33%, 92%);
  --secondary-bg: hsl(0, 0%, 98%);

  --primary-text: hsl(235, 21%, 11%);
  --secondary-text: hsl(236, 9%, 61%);

  --icon: url(../../images/icon-moon.svg);

  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
a {
  font: inherit;
  color: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-bg);
  min-height: 100vh;
}

body,
header,
#add-task,
#tasks {
  transition: background 0.5s ease-in-out;
}

header {
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40vh;
  padding: 0 30%;
}

#mode-btn {
  display: flex;
  align-items: center;
}

header .title {
  color: var(--white);
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 15px;
}

#mode-btn {
  cursor: pointer;
  height: 20px;
}

#mode-btn::after {
  content: var(--icon);
}

main {
  margin: -5% auto 0;
  padding: 0 30%;
}

#add-task,
#tasks {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  border-radius: 4px;
}

#add-task,
.task {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--secondary-text);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.task.done input[type="checkbox"] {
  background: var(--check-bg);
  border: none;
}

.task.done input[type="checkbox"]::after {
  content: var(--check-icon);
  color: var(--white);
}

input[type="text"] {
  flex-grow: 1;
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
}

.task.done input[type="text"] {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.6;
}

#add-task {
  margin-bottom: 2rem;
  padding: 1rem;
}

#new-task {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--secondary-text);
  font-size: 18px;
}

.task {
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-text);
}

.task i {
  color: var(--secondary-text);
  padding-left: 0.5rem;
  opacity: 0.6;
  cursor: pointer;
}

.task i:hover {
  opacity: 1;
}

#actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#actions,
.instruction {
  font-size: 12px;
  color: var(--secondary-text);
}

#filters *:hover,
#clear:hover {
  color: var(--primary-text);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

#filters a {
  text-decoration: none;
}

.instruction {
  text-align: center;
  width: 100%;
  margin: 2rem 0 3rem;
  filter: drop-shadow(0 0 8px var(--secondary-text));
}

.attribution {
  margin-bottom: 0.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  header,
  main {
    padding: 0 25%;
  }
}

@media screen and (max-width: 950px) {
  header,
  main {
    padding: 0 20%;
  }
}

@media screen and (max-width: 678px) {
  header,
  main {
    padding: 0 15%;
  }
}

@media screen and (max-width: 550px) {
  header,
  main {
    padding: 0 5%;
  }

  :root {
    --bg-image: url(../../images/bg-mobile-dark.jpg);
  }

  .light-mode {
    --bg-image: url(../../images/bg-mobile-light.jpg);
  }
}

@media screen and (max-width: 330px) {
  input[type="checkbox"] {
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
  }

  #new-task,
  .task input[type="text"],
  .task i {
    font-size: 16px;
  }
}
