@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --check-icon: url(../../images/icon-check.svg);

  --bg-image: url(../../images/bg-desktop-dark.jpg);
  --primary-bg: hsl(235, 21%, 11%);
  --secondary-bg: hsl(235, 24%, 19%);

  --primary-text: hsl(234, 39%, 85%);
  --secondary-text: hsl(234, 11%, 52%);

  --icon: url(../../images/icon-sun.svg);

  --white: hsl(0, 0%, 100%);
}

.light-mode {
  --bg-image: url(../../images/bg-desktop-light.jpg);
  --primary-bg: hsl(236, 33%, 92%);
  --secondary-bg: hsl(0, 0%, 98%);

  --primary-text: hsl(235, 21%, 11%);
  --secondary-text: hsl(236, 9%, 61%);

  --icon: url(../../images/icon-moon.svg);

  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);

  /* add to body, header, form, new-task, tasks */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
a {
  font: inherit;
  color: inherit;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-bg);
  min-height: 100vh;
}

body,
header,
#add-task,
#tasks {
  transition: 0.5s;
}

header {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40vh;
  padding: 0 30%;
}

header .title {
  color: var(--white);
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 15px;
}

#mode-btn {
  cursor: pointer;
  height: 20px;
}

#mode-btn::after {
  content: var(--icon);
}

main {
  margin: -5% auto 0;
  width: 40%;
}

#add-task,
#tasks {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  border-radius: 4px;
}

#add-task,
.task {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--secondary-text);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task input[type="checkbox"]:checked {
  background: var(--check-bg);
  border: none;
}

.task input[type="checkbox"]:checked::after {
  content: var(--check-icon);
  color: var(--white);
}

input[type="text"] {
  margin-left: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primary-text);
  font-size: 18px;
}

#add-task {
  margin-bottom: 2rem;
  padding: 1rem;
}

#new-task {
  width: 90%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--secondary-text);
  font-size: 18px;
}

.task {
  padding: 1rem;
  border-bottom: 1px solid var(--secondary-text);
}

#actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#actions,
.instruction {
  font-size: 12px;
  color: var(--secondary-text);
}

#filters a {
  text-decoration: none;
}

.instruction {
  text-align: center;
  width: 100%;
}

.attribution {
  margin-bottom: 0.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
